.dashboard {
    width: 100%;
    max-width: 250px;
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 70px 30px;
}

a {
    text-decoration: none !important;
}

a.active {
    .text {
        color: #fff;
    }
}

.text {
    font-size: 18px;
    font-weight: 700;
    line-height: 22.77px;

    &:hover {
        color: #fff;
    }
}

.likes_img {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    border-radius: 2px;
    overflow: hidden;
    margin-right: 10px;

    img {
        width: 100%;
    }
}

.dashboar_box {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    margin-top: 10px;
}

.dashboar_card_name {
    color: #B3B3B3;
    font-size: 16px;
    font-weight: 450;
    line-height: 22.77px;
    text-align: left;

    &:hover {
        color: #fff;
    }
}